<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Psicologia com Açucar", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Usuários/Pacientes", usuarios_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Calendário", root_path, class:"nav-link" %>
      </li>
      <% if client_signed_in? %>
        <li class="nav-item">
          <%= link_to "Add Novo Usuário", new_usuario_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_client_session_path, method: :delete, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Editar Perfil", edit_client_registration_path, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_client_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_client_session_path, class:"nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Contato", home_about_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
